<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MI PRIMER SERVER</title>
</head>
<body>
    <% include partials/navigation.ejs %>
    <H1>HOLA CON EXPRESS Y EJS. </H1>
    <h4>Integrado con Github y Heroku</h4>
    <h5>Heberth C.</h5>
</body>
</html>